/* .main-logo{
  animation-duration: 1s;
  animation-delay: 0.0s;
  animation-iteration-count: 1;

}
.main-links-lista{
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
}
.midias-sociais{
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}
.ensaios-1{
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-iteration-count: 1;
}
.ensaios-2{
  animation-duration: 1.1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
}
.ensaios-3{
  animation-duration: 1.2s;
  animation-delay: 1.2s;
  animation-iteration-count: 1;
}
.ensaios-4{
  animation-duration: 1.4s;
  animation-delay: 1.4s;
  animation-iteration-count: 1;
}
.main-navegacao{
  animation-duration: 1s;
  animation-delay: 0.0s;
  animation-iteration-count: 1;
}
/*.main-texto-sombra{
  animation-duration: 5s;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
}*/
/*.main-texto{
  animation-duration: 1.5s;
  animation-delay: 1.7s;
  animation-iteration-count: 1;
} */
